@import "tailwindcss";
@import "@heroui/styles";

@layer base {
    :root {
        --color-brand: #bc13fe;
        --color-brand-light: #DE89FF;
        --color-brand-glow: rgba(188, 19, 254, 0.2);
        --color-bg-main: #0a0c10;
    }
}
@theme {
    --color-brand: #bc13fe;
    --color-brand-light: #DE89FF;
    --color-bg-main: #0a0c10;
}